@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

:root {
    --cor01: #D7D9D9; 
    --cor02: #078C03;     
    --cor03: #68BF65;
    --cor04: #592C1C;
    --cor05: #A65E44;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Ubuntu', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #D7D9D9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.externo::after {
    content: '\00A0\1f517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor02));
    background-color: var(--cor02);
    font-family: var(--fonte-destaque);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}

header > p {
    color: white;
    background-color: var();
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 1000px;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav {
    background-color: var(--cor02);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 300ms;
}

nav > a:hover {
    background-color: var(--cor01);
    color: #078C03;
}

main  h1 {
    color: var(--cor04);
    font-family:(--fonte-destaque);
}

main h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor01);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}

aside h3 {
    background-color: var(--cor02);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor02);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor03);
}